@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "HK Grotesk";
    font-display: swap;
    font-weight: 400;
    src: url("../public/fonts/HKGrotesk-Regular.woff2") format("woff2");
    src: url("../public/fonts/HKGrotesk-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "HK Grotesk";
    font-display: swap;
    font-weight: 800;
    src: url("../public/fonts/HKGrotesk-ExtraBold.woff2") format("woff2");
    src: url("../public/fonts/HKGrotesk-ExtraBold.woff") format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-display: swap;
    font-weight: 400;
    src: url("../public/fonts/Inter-Regular.woff2") format("woff2");
    src: url("../public/fonts/Inter-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-display: swap;
    font-weight: 700;
    src: url("../public/fonts/Inter-Bold.woff2") format("woff2");
    src: url("../public/fonts/Inter-Bold.woff") format("woff");
  }
  @font-face {
    font-family: "JetBrains Mono";
    font-display: swap;
    font-weight: 400;
    src: url("../public/fonts/JetBrainsMono-Regular.woff2") format("woff2");
    src: url("../public/fonts/JetBrainsMono-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "JetBrains Mono";
    font-display: swap;
    font-weight: 500;
    src: url("../public/fonts/JetBrainsMono-Medium.woff2") format("woff2");
    src: url("../public/fonts/JetBrainsMono-Medium.woff") format("woff");
  }

  * {
    @apply duration-200;
  }

  html {
    scroll-behavior: smooth;
  }

  a {
    @apply font-extrabold transition-all hover:font-normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-extrabold;
  }

  p {
    @apply text-xl;
  }
}
