@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "HK Grotesk";
    font-display: swap;
    font-weight: 400;
    src: url("../public/fonts/HKGrotesk-Regular.woff2") format("woff2");
    src: url("../public/fonts/HKGrotesk-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "HK Grotesk";
    font-display: swap;
    font-weight: 800;
    src: url("../public/fonts/HKGrotesk-ExtraBold.woff2") format("woff2");
    src: url("../public/fonts/HKGrotesk-ExtraBold.woff") format("woff");
  }
  @font-face {
    font-family: "JetBrains Mono";
    font-display: swap;
    font-weight: 400;
    src: url("../public/fonts/JetBrainsMono-Regular.woff2") format("woff2");
    src: url("../public/fonts/JetBrainsMono-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "JetBrains Mono";
    font-display: swap;
    font-weight: 500;
    src: url("../public/fonts/JetBrainsMono-Medium.woff2") format("woff2");
    src: url("../public/fonts/JetBrainsMono-Medium.woff") format("woff");
  }

  * {
    @apply duration-200;
  }

  html {
    scroll-behavior: smooth;
  }

  a {
    @apply p-0.5 font-extrabold underline transition-all rounded-sm hover:bg-white hover:text-[#0a0a0a] underline-offset-4 decoration-dotted;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-extrabold;
  }

  p {
    @apply text-lg sm:text-xl;
  }
}

@layer utilities {
  .vertical-text {
    writing-mode: vertical-lr;
  }
}
