@font-face {
  font-family: "Graphik";
  src: local("Graphik Regular"), local("Graphik-Regular"),
    url("/assets/webfonts/Graphik-Regular.woff2") format("woff2"),
    url("/assets/webfonts/Graphik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik Medium"), local("Graphik-Medium"),
    url("/assets/webfonts/Graphik-Medium.woff2") format("woff2"),
    url("/assets/webfonts/Graphik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik Semibold"), local("Graphik-Semibold"),
    url("/assets/webfonts/Graphik-Semibold.woff2") format("woff2"),
    url("/assets/webfonts/Graphik-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik Bold"), local("Graphik-Bold"),
    url("/assets/webfonts/Graphik-Bold.woff2") format("woff2"),
    url("/assets/webfonts/Graphik-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("Inter-Regular"),
    url("/assets/webfonts/Inter-Regular.woff2") format("woff2"),
    url("/assets/webfonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
