@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Clash Display";
    font-weight: 400;
    src: url("../fonts/ClashDisplay-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Clash Display";
    font-weight: 600;
    src: url("../fonts/ClashDisplay-Semibold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url("../fonts/Inter-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 400;
    src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 500;
    src: url("../fonts/JetBrainsMono-Medium.woff2") format("woff2");
  }
}
